/* ==================================== 
All Components
==================================== */

.page-title {
  margin: 2.5rem 0 2.5rem 0;
}

input[type=search] {
  box-shadow: none;
}



/* ==================================== 
Navigation Component
==================================== */

a {
  color: #191970 !important;
}

a:hover {
  color: #FF4500 !important;
  font-weight: bold;
}
.dropdown {
  background: transparent !important;
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

.top-bar, ul li {
	background-color: #FFF !important;
}

.nav-border {
  border-bottom: 0.1rem solid #FF4500 !important;
  border-top: 0.1rem solid #FF4500 !important;
  margin-bottom: 2rem;
  padding: 0.7rem 0 0.7rem 0;
}

/* ==================================== 
Home Component
==================================== */

.description {
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
}

.description, .welcome-img {
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 0 1rem 0;
  animation: fadein 4s;
  -moz-animation: fadein 4s; 
  -webkit-animation: fadein 4s; 
  -o-animation: fadein 4s; 
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

p {
  color: #191970 !important;
}

/* ==================================== 
Brand Component
==================================== */

.write-songs {
  margin-top: 2rem;
}

/* ==================================== 
About Component
==================================== */

.img-spacer {
  margin: 0 1.5rem 0 1.5rem;
}

.para-border {
  border-bottom: 0.1rem solid #FF4500 !important;
  padding-bottom: 1rem;
}

/* ==================================== 
Examples Component
==================================== */

.container {
	width: 100%;
	background: #fff;
	margin: auto;
}
.main-header {
	text-align: center;
	padding: 2.8px 0;
}


.photo-container {
  display: inline-block;
  margin: 3rem 3rem 3rem 0;
  text-align: center;
  width: auto;
}

.photo-container img {
 	max-width: 100%;
 	position: relative;
	z-index: 100;
}

.photo {
	position: relative;
}

.photo-desc {
  background: #345d88 none repeat scroll 0 0;
  bottom: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}


/* ==================================== 
 Ex Component: Transforms & Transitions
==================================== */

.photo {
	transition: transform 1s ease-in;
	transform-style: preserve-3d;
}

.photo:hover {
	transform: rotate3d(1,0,0, 180deg);
}

.side-a, .side-b {
	backface-visibility: hidden;
}

.side-b {
	transform: rotateX(180deg);
}

/* ================================= 
  Header Img 3D Transforms/Transitions
==================================== */

.photo-cube {
  width: 100%;
  height: 400px;
  transition: transform 4s, ease-in;
  transform-style: preserve-3d;
}

.photo-cube:hover {
  transform: rotateX(-270deg);
}

.front, .back, .left, .right, .top, .bottom {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.front {
  transform: translateZ(200px);
}

.back {
  transform: translateZ(-200px) rotateY(180deg);
  /*transform-origin: center left;*/
}

.top {
  transform: rotateX(-90deg) translateZ(-200px);
  /*transform-origin: top left;*/
}

.bottom {
  transform: rotateX(-90deg) translateZ(200px);
  /*transform-origin: bottom left;*/
}

/* ==================================== 
Footer Component
==================================== */

.copyright {
  font-size: 0.2rem;
  margin-top: 1rem;
}

.footer-img {
  width: 3rem;
  height: 2rem;
  opacity: 0.8;
}

